---
---

@import "colors";
@import "typography";

// Components
@import "components/newsletter";
@import "components/breadcrumb";

html{
  background-color:white;
}

body{
  font-size:18px;
  font-family: 'Rubik', sans-serif;
}

header {
  color:$brand;
  background-color: $lilita;
}

footer {
  background-color: $raven;
  color:white;
}

.logo{
  height:4em;
}
