---
---

@import "colors";

html{
  background-color:white;
}

body{
  font-size:18px;
  font-family: 'Rubik', sans-serif;
}

header {
  color:$brand;
footer {
  background-color: $raven;
  color:white;
}

.logo{
  height:4em;
}
