<footer>
<img src="/img/ui/logo-md.svg" alt="Richland Library" class="desktop">
<img src="/img/ui/logo-sm.svg" alt="Richland Library" class="mobile">
<a class="mobile" href="javascript:toggle('.menu')">Menu</a>
<nav class="primary">
  <a href="/the-library">The Library</a>
  <a href="/stories">Stories</a>
  <a href="/events">Events</a>
  <a href="/search"><img class="emoji" src="/img/ui/search.svg"> Search</a>
</nav>
<nav class="secondary">
  <h2>Agency</h2>
  <a href="/about">About</a>
  <a href="/faq">FAQ</a>
  <a href="/policies#privacy">Privacy Policy</a>
  <a href="/work-with-us">Work With Us</a>
  <a href="/policies#terms-of-use">Terms of Use</a>
</nav>
<nav class="social">
  <a href="http://facebook.com"><img src="/img/ui/facebook-square.svg"></a>
  <a href="http://twitter.com"><img src="/img/ui/twitter.svg"></a>
  <a href="http://instagram.com"><img src="/img/ui/instagram.svg"></a>
  <a href="/feed"><img src="/img/ui/rss-square.svg"></a>
</nav>
<nav class="user">
  <a href="/login">Sign In</a>
  <a href="/login">Join</a>
  <a href="/help">Help</a>
</footer>
